@charset "UTF-8";

@font-face {
    font-family: 'creato';
    src: url(fontes/creato_display/CreatoDisplay-Regular.otf) format(OpenType);
}

@font-face {
    font-family: 'le jour serif';
    src: url(fontes/le_jour_serif/Le\ Jour\ Serif\ Personal\ Use\ Only.otf) format(OpenType);
}

@font-face {
    font-family: 'paris';
    src: url(fontes/paris_forbel/Paris\ Forbel\ TTF.ttf) format(TrueType);
}

:root{
    --cor1: #00747c;
    --cor2: #00bbc9;
    --cor3: #cacaca;
    --cor4: #878787;
    --cor5: #202022;

    --fonte-padrao: 'creato', Arial, Helvetica, sans-serif;
    --fonte-destaque: 'le jour serif', cursive;
    --fonte-destaque-2: 'paris', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

/*cabecalho*/
header {
    padding: 10px 0;
    background-color: var(--cor1);
}

nav {
    text-align: right;
    margin-right: 10px;
}

nav > a {
    text-decoration: none;
    font-size: large;
    margin: 5px;
    color: var(--cor5);
    font-family: var(--fonte-padrao);
    transition-duration: 0.6s;
}

nav > a:hover {
    border-bottom: 2px solid var(--cor3);
    border-radius: 10%;
    transition-duration: 0.6s;
    font-weight: bold;
    color: var(--cor3);
}

nav > h1 > a , div.avatar-container > a{
    text-decoration: none;
    color: var(--cor5);
}

.titulo-logo {
    text-align: left;
    font-size: large;
    margin-bottom: -27px;
    margin-left: 10px;
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}

hr {
    color: var(--cor5);
    width: 97%;
    margin: auto;
    margin-top: 10px;
}

p , li , main.cvs > div > div > h2 {
    font-family: var(--fonte-padrao);
    margin: 2px;
}
/*inicio*/
main#hero {
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 74px;
}

main > div , main > section > div{
    display: inline-block;
}

/*inicio*/
body#index {
    background-image: url(imagens/fundos/pc-inicial.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div.apresentacao {
    padding: 10px;
}

div.apresentacao > h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: var(--fonte-destaque-2);
    color: var(--cor3);
}

div.apresentacao > p {
    display: inline-block;
    border-radius: 9px;
    height: auto;
    width: 350px;
    padding: 10px;
    text-align: justify;
    text-indent: 10px;
    font-size: larger;
    color: var(--cor3);
    font-family: var(--fonte-padrao);
    border-left:1px solid var(--cor5);
    border-right:1px solid var(--cor5);
}

div.apresentacao > img {
    height: 250px;
    width: 250px;
    margin-left: 150px;
}

/*qualificacoes*/
body#qualificacoes {
    background-image: url(imagens/teste/inshot/3-pessoas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main#hero-q {
    margin: auto;
    margin: 10px 30px 120px 30px;
}

div.apresentacao > h2 , div.sobrenos > h2 , div.faleconnosco > h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: var(--fonte-destaque);
    color: var(--cor3);
}

div.apresentacao, div.avatar-container {
    display: block;
}

section.qualificacoes {
    text-align: center;
    display: inline-block;
}

section.qualificacoes > div {
    margin: 0 50px;
}

img.avatar-card {
    height: 150px;
    width: 100px;
    margin: 0;
    border-radius: 20px;
    transition-duration: 1s;
}

img.avatar-card:hover {
    height: 180px;
    width: 130px;
    transition-duration: 1s;
}

p.nomes {
    font-weight: bolder;
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 7px;
    margin: -3px;
    margin-bottom: 10px;
}

iframe {
    width: 900px;
    height: 550px;
    vertical-align: top;
}

/*cvs*/
main.cvs {
    background-color: var(--cor3);
    margin: 0 20px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}

main.cvs > div > div.dados{
    width: 590px;
    vertical-align: top;
}

div.dados {
    display: inline-block;
}

main.cvs > h1 {
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    font-variant: small-caps;
    font-family: var(--fonte-destaque-2);
    background-color: var(--cor1);
    border-radius: 20px;
    color: var(--cor3);
}

main.cvs > div > div > h2 {
    text-decoration: underline;
    color: var(--cor2);
}

main.cvs > div > div > ul, .li3 {
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
}

/*sobre-nos*/
main#hero-s {
    margin: auto;
    margin: 10px 30px 120px 30px;
}

div.membro-card {
    background-color: var(--cor2);
    border-radius: 10px;
    margin: 0 30px;
    vertical-align: top;
}

div.membro-card > h3 {
    text-align: center;
    color: var(--cor5);
}

section.membros > img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50px;
}

div.membro-card > p {
    background-color: var(--cor1);
    border-radius: 9px;
    height: auto;
    width: 300px;
    padding: 12px;
    text-align: justify;
    text-indent: 10px;
    font-size: larger;
    color: var(--cor3);
    font-family: var(--fonte-padrao);
    border-left:1px solid var(--cor5);
    border-right:1px solid var(--cor5);
}

/*contactos*/
body#contactos {
    background-image: url(imagens/fundos/email.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main#hero-c {
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 258px;
}

div.contact-info {
    display: block;
    margin-top: 10px;
}

div.faleconnosco > p{
    text-align: justify;
    font-size: larger;
    color: var(--cor3);
    font-family: var(--fonte-padrao);
}

div.contact-info {
    border-radius: 9px;
    border-left:1px solid var(--cor5);
}

div.contact-info > p {
    padding: 10px;
    text-align: justify;
    text-indent: 10px;
    font-size: larger;
    color: var(--cor3);
    font-family: var(--fonte-padrao);
}

/*rodape*/
footer {
    text-align: center;
    background-color: var(--cor5);
    color: var(--cor3);
    padding: 10px;
}